.app-header{
    background-color: antiquewhite;
}
.brand-logo{
    display: flex;
    justify-content: center;    
}
.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

.navbar>span{
    margin: 0 10%;
}

